@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9f6; /* warm-white */
  --foreground: #1c1917; /* stone-900 */
  
  --primary: #5a7359;
  --primary-foreground: #ffffff;
  
  --sidebar: #ffffff;
  --sidebar-foreground: #1c1917;

  --card: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #faf9f6;
    
    --primary: #739072;
    --primary-foreground: #ffffff;
    
    --sidebar: #292524;
    --sidebar-foreground: #faf9f6;

    --card: #292524;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
